 /* Estilos Gerais */
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

/* Modo Claro */
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

/* Modo Escuro */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

/* Estilos do Botão de Alternância */
.theme-toggle {
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.theme-toggle i {
    font-size: 1.2rem;
}

.toggle-switch {
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    position: relative;
    transition: background-color 0.3s;
}

.toggle-switch::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: left 0.3s;
}

.toggle-switch.active {
    background-color: #8e44ad;
}

.toggle-switch.active::before {
    left: 25px;
}